.register-page {
	padding-top: 70px;
	padding-bottom: 70px;

	.form__col--logo {
		overflow: hidden;
	}

	#multiselectContainerReact {
		
		.searchBox {
			width: 280px;
		}

		.optionListContainer {

			.highlight {
				color: #000;
				background: #FF7300 !important;
			}

			li {

				&:hover {
					color: #000;
					background: rgba(#FF7300, 0.2);
				}
			}
		}
	}
}