.header {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 70px;
	background: #383838;

	&__container {
		display: flex;
		max-width: 650px !important;
	}

	&__buttons {
		margin-left: auto;
		display: flex;

		&__item {
			padding: 12px;
			line-height: 1.3em;
			margin-right: 10px;
			color: #fff;
			font-size: 12px;
			display: block;
			text-decoration: none;
			font-weight: 600;
			text-transform: uppercase;

			&:last-child { margin-right: 0; }

			&--border {
				border: 1px solid #fff;
			}
		}
	}

	&--overlay {
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	@media (max-width: 640px) {
		height: auto;

		&__logo {

			svg {
				width: 143px;
				height: 80px;
			}
		}

		&__buttons {
			display: block;
			text-align: right;
			padding-left: 20px;

			&__item {
				margin-right: 0;
			}
		}
	}
}