.footer {
	background-color: #383838;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-weight: 300;

	&__container {

	}

	a {
		text-decoration: none;
		color: #fff;
	}
}