/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	overflow-y: scroll;
}

body, input, textarea {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.form {

	&__row {
		display: flex;
		align-items: flex-start;
		margin-bottom: 35px;
	}

	&__col {
		margin-right: 45px;
		width: 100%;

		$grid-columns: 12;

		@for $i from 1 through $grid-columns {
			&--#{$i} {
				width: percentage($i / $grid-columns);
				width: calc(#{percentage($i / $grid-columns)} - 10px);
				margin-right: 20px;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__label {
		margin-bottom: 15px;
		display: block;
		white-space: nowrap;
	}

	&__input {

		&--text {
			border: 1px solid #383838;
			font-size: 12px;
			padding: 0 14px;
			width: 100%;
			height: 44px;
		}

		&--textarea {
			width: 100%;
			min-height: 8em;
			max-width: 100%;
			font-size: 12px;
			padding: 14px;
		}

		&--select {
			border: 1px solid #383838;
			font-size: 12px;
			padding: 0 14px;
			width: 100%;
			height: 44px;
		}

		&--file {
			width: 100%;
			padding: 12px;
			background: #fbfbfb;
			border: 1px solid #383838;
		}
	}

	&__radios-wrapper {
		display: flex;
		align-items: center;
		height: 44px;

		input {
			margin: 0;
			width: 20px;
			height: 20px;
			margin-right: 6px;
		}

		label {
			display: flex;
			align-items: center;
			font-size: 12px;
			margin-right: 25px;
		}
	}

	&__helper {
		font-weight: 300;

		a {
			color: inherit;
			font-weight: 600;
		}
	}

	&__maxlength-indicator {
		display: block;
		text-align: right;
		padding-top: 10px;
		font-size: 12px;
	}

	&__error {
		background: #ff000008;
		border: 1px solid #fbb5b5;
		padding: 10px;
		border-radius: 4px;
		font-size: 14px;
		color: #f32c2c;
		border-left: 4px solid;
	}

	&__submit {
		background-color: rgb(255, 115, 0);
		border: 0;
		color: #fff;
		text-transform: uppercase;
		padding: 20px 30px;
		font-weight: 600;
		margin-left: auto;
		display: table;
	}

	@media (max-width: 700px) {
		
		&__row {
			display: block;
		}

		&__col {
			width: 100% !important;
			margin-bottom: 20px;
		}
	}
}