*, *::before, *::after {
	box-sizing: border-box;
}

body, input {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}


